<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body data-ng-controller='UserController'>

<div class="container" align="center">
<div class="row" style="width: 600px">
<div ng-repeat="blog in blogsApproved">
<div class="panel panel-default">
<div class="panel-heading">
<a href="#/getblog/{{blog.id}}">{{blog.blogTitle}}</a>
</div>
<div class="panel-body">
<b>Posted On: </b> {{blog.postedOn | date:'medium'}}<br>
<b>Posted By:</b>{{blog.postedBy.firstName}}&nbsp;{{blog.postedBy.lastName}}
</div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>
