
<html>
<head>
   <style>
body {
    background-image: url("https://wallpaperscraft.com/image/lighthouse_bay_sunset_sky_119925_2160x1442.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    background-position: center;
	font-family: 'Open Sans', sans-serif;
	height: 100vh;
}
</style> 
 </head>
 
 <body>
 

<div ng-repeat="blog in blogsApproved">
<div class="main-content-agile">
		<div class="sub-main-w3">
<h2><a href="#/getblog/{{blog.id}}"style="color:white">{{blog.blogTitle}}</a></h2>

<div class="panel-body" style="color:white">
<b>Posted On: </b> {{blog.postedOn | date:'medium'}}<br>
<b>Posted By:</b><img src="http://localhost:8181/Backend2/getimage/{{blog.postedBy.email}}" class="img-circle"  width="30px" height="30px" >{{blog.postedBy.firstName}}&nbsp;{{blog.postedBy.lastName}}
</div>
</div>
</div></div>
