<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<body>
<div id="about" class="about">
	<div class="container">
			<h1>About <span>us</span></h1>
			<h2>The philosophy of the institution is founded on the belief that education is all about joyful learning.</h2>
			<div class="specialty-grids-top">
				<div class="col-md-4 service-box" style="visibility: visible; -webkit-animation-delay: 0.4s;">
					<figure class="icon">
						<span class="glyphicon glyphicon-education a1" aria-hidden="true"></span>
					</figure>
					<h5>Awesome Education</h5>
					<p>We are providing Awesome Education. We take pride in providing a unique learning environment for our students</p>
				</div>
				<div class="col-md-4 service-box wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
					<figure class="icon">
						<span class="glyphicon glyphicon-home a2" aria-hidden="true"></span>
					</figure>
					<h5>Awesome classes</h5>
					<p>
KENNEDY HIGH the global school spreads over a sprawling 5 acre campus to provide the state-of-the art world class infrastructure and to create an amicable environment for the process of teaching and learning.</p>
				</div>
				<div class="col-md-4 service-box wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
					<figure class="icon">
						 <span class="glyphicon glyphicon-leaf a3" aria-hidden="true"></span>						
					</figure>
					<h5>Awesome Teachings</h5>
					<p>Best Teaching Faculty is available</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			
							<div class="clearfix"></div>
			</div>
	</div>
	<div class="about-info">
		<img src="https://p.w3layouts.com/demos_new/01-02-2017/educational-demo_Free/37976604/web/images/ab.jpg" alt="about-image">
		<div class="right-agile">
			<h5>Educational</h5>
			<p>Nothing in this world can take the place of persistence. Talent will not: nothing is more common than unsuccessful men with talent. Genius will not; unrewarded genius is almost a proverb. Education will not: the world is full of educated derelicts. Persistence and determination alone are omnipotent.</p>
			<h5>Educational</h5>
			<p>Education is not preparation for life; education is life itself. </p>
		</div>
	</div>
	<div class="clearfix"></div>
<!--//about-->
<div class="services" id="services">
		<h3>Services</h3>
		<div class="col-md-2 services-gd text-center" data-wow-delay=".5s">
			<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
				<a href="#" class="hi-icon"><img src="https://p.w3layouts.com/demos_new/01-02-2017/educational-demo_Free/37976604/web/images/book.png" alt=" " /></a>
			</div>
			<h4>Service 1</h4>
			<p>Library</p>
		</div>
		<div class="col-md-2 services-gd text-center" data-wow-delay=".5s">
			<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
				<a href="#" class="hi-icon"><img src="https://p.w3layouts.com/demos_new/01-02-2017/educational-demo_Free/37976604/web/images/edu.png" alt=" " /></a>
			</div>
			<h4>Service 2</h4>
			<p>Graduation</p>
		</div>
		<div class="col-md-2 services-gd text-center" data-wow-delay=".5s">
			<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
				<a href="#" class="hi-icon"><img src="https://p.w3layouts.com/demos_new/01-02-2017/educational-demo_Free/37976604/web/images/uni.png" alt=" " /></a>
			</div>
			<h4>Service 3</h4>
			<p>Building</p>
		</div>
		<div class="col-md-2 services-gd text-center" data-wow-delay=".5s">
			<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
				<a href="#" class="hi-icon"><img src="https://p.w3layouts.com/demos_new/01-02-2017/educational-demo_Free/37976604/web/images/hourglass.png" alt=" " /></a>
			</div>
			<h4>Service 4</h4>
			<p>Teaching</p>
		</div>
		<div class="col-md-2 services-gd text-center" data-wow-delay=".5s">
			<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
				<a href="#" class="hi-icon"><img src="https://p.w3layouts.com/demos_new/01-02-2017/educational-demo_Free/37976604/web/images/book2.png" alt=" " /></a>
			</div>
			<h4>Service 5</h4>
			<p>Education</p>
		</div>
		<div class="clearfix"> </div>
</div>
<!-- //services -->
<!---728x90--->
<div class="portfolio" id="gallery">
	<h3>Gallery</h3>
		
		<div class="portfolio-top wow fadeInDown animated" data-wow-delay=".5s">
		 
			<div class="col-md-4 grid slideanim">
				<figure class="effect-jazz">
				<a href="#portfolioModal1"  data-toggle="modal">

					<img src="https://p.w3layouts.com/demos_new/01-02-2017/educational-demo_Free/37976604/web/images/g1.jpg" alt="img25" class="img-responsive"/>
						<figcaption>
							<h4>Educational</h4>
							<p> Education is not a problem. Education is an opportunity.</p>
						</figcaption>
					</a>						
				</figure>
			</div>
			<div class="col-md-4 grid slideanim">
				<figure class="effect-jazz">
				<a href="#portfolioModal2"  data-toggle="modal">

					<img src="https://p.w3layouts.com/demos_new/01-02-2017/educational-demo_Free/37976604/web/images/g2.jpg" alt="img25" class="img-responsive"/>
						<figcaption>
							<h4>Educational</h4>
							<p> Education is not a problem. Education is an opportunity.</p>							
						</figcaption>	
						</a>						
				</figure>
			</div>
			<div class="col-md-4 grid slideanim">
				<figure class="effect-jazz">
				<a href="#portfolioModal3"  data-toggle="modal">

					<img src="https://p.w3layouts.com/demos_new/01-02-2017/educational-demo_Free/37976604/web/images/g3.jpg" alt="img25" class="img-responsive"/>
						<figcaption>
							<h4>Educational</h4>
							<p> Education is not a problem. Education is an opportunity.</p>							
						</figcaption>
					</a>						
				</figure>
			</div>
			
			<div class="clearfix"></div>
		 </div>
		<div class="portfolio-top wow fadeInUp animated" data-wow-delay=".5s">
			<div class="col-md-3 grid grid-wi slideanim">
				<figure class="effect-jazz">
				<a href="#portfolioModal4"  data-toggle="modal">

					<img src="https://p.w3layouts.com/demos_new/01-02-2017/educational-demo_Free/37976604/web/images/g4.jpg" alt="img25" class="img-responsive"/>
						<figcaption>
							<h4 class="effcet-text"> Educational</h4>
							<p> Learning is never done without errors and defeat.</p>							
						</figcaption>	
					</a>						
				</figure>
			</div>
			<div class="col-md-3 grid grid-wi slideanim">
				<figure class="effect-jazz">
				<a href="#portfolioModal5"  data-toggle="modal">

					<img src="https://p.w3layouts.com/demos_new/01-02-2017/educational-demo_Free/37976604/web/images/g5.jpg" alt="img25" class="img-responsive"/>
						<figcaption>
							<h4 class="effcet-text"> Educational</h4>
							<p>Learning is never done without errors and defeat.</p>							
						</figcaption>
						</a>						
				</figure>
			</div>
			<div class="col-md-3 grid grid-wi slideanim">
				<figure class="effect-jazz">
				<a href="#portfolioModal6"  data-toggle="modal">

					<img src="https://p.w3layouts.com/demos_new/01-02-2017/educational-demo_Free/37976604/web/images/g6.jpg" alt="img25" class="img-responsive"/>
						<figcaption>
							<h4 class="effcet-text">Educational</h4>
							<p>Learning is never done without errors and defeat.</p>							
						</figcaption>
					</a>						
				</figure>
			</div>
			<div class="col-md-3 grid grid-wi slideanim">
				<figure class="effect-jazz">
				<a href="#portfolioModal7"  data-toggle="modal">

					<img src="https://p.w3layouts.com/demos_new/01-02-2017/educational-demo_Free/37976604/web/images/g7.jpg" alt="img25" class="img-responsive"/>
						<figcaption>
							<h4 class="effcet-text"> Educational</h4>
							<p> Learning is never done without errors and defeat.</p>							
						</figcaption>
					</a>						
				</figure>
			</div>
			<div class="clearfix"></div>
		 </div>
	</div>
<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade slideanim" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
		
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>Educational</h3>
						
                        <img src="https://p.w3layouts.com/demos_new/01-02-2017/educational-demo_Free/37976604/web/images/g1.jpg" class="img-responsive" alt="">
                        <p>“Do not train a child to learn by force or harshness; but direct them to it by what amuses their minds, so that you may be better able to discover with accuracy the peculiar bent of the genius of each.”</p>
                    </div>
                </div>
           
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
         
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>Educational</h3>
                      
                        <img src="https://p.w3layouts.com/demos_new/01-02-2017/educational-demo_Free/37976604/web/images/g2.jpg" class="img-responsive" alt="">
                        <p>Give a girl an education and introduce her properly into the world, and ten to one but she has the means of settling well, without further expense to anybody. ”</p>
                    </div>
                </div>
           
        </div>
    </div>
    </div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
           
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>Educational</h3>
                     
                        <img src="https://p.w3layouts.com/demos_new/01-02-2017/educational-demo_Free/37976604/web/images/g3.jpg" class="img-responsive" alt="">
						<p>“You know, sometimes kids get bad grades in school because the class moves too slow for them. Einstein got D's in school. Well guess what, I get F's!!!” </p>
                    </div>
                </div>
            </div>
       
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
			
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>Educational</h3>
                       
                        <img src="https://p.w3layouts.com/demos_new/01-02-2017/educational-demo_Free/37976604/web/images/g4.jpg" class="img-responsive" alt="">
                        <p>“We spend the first year of a child's life teaching it to walk and talk and the rest of its life to shut up and sit down. There's something wrong there.”</p>
                    </div>
                </div>
            
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">

                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>Educational</h3>
                       
                        <img src="https://p.w3layouts.com/demos_new/01-02-2017/educational-demo_Free/37976604/web/images/g5.jpg" class="img-responsive" alt="">
                        <p>“To educate a person in the mind but not in morals is to educate a menace to society.” </p>
                    </div>
                </div>
           
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
           
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>Educational</h3>
                       
                        <img src="https://p.w3layouts.com/demos_new/01-02-2017/educational-demo_Free/37976604/web/images/g6.jpg" class="img-responsive" alt="">
                        <p>“The more I live, the more I learn. The more I learn, the more I realize, the less I know.” </p>
                    </div>
                </div>
            </div>
        
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
            
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>Educational</h3>
                     
                        <img src="https://p.w3layouts.com/demos_new/01-02-2017/educational-demo_Free/37976604/web/images/g7.jpg" class="img-responsive" alt="">
                        <p>“The man who reads nothing at all is better educated than the man who reads nothing but newspapers.” </p>
                    </div>
                </div>
         
        </div>
    </div>
</div>
<!-- /Portfolio Modals -->
<!-- //gallery -->
<!-- team -->
<div class="team" id="team">
	<div class="container">
		<h3 class="title">Our  <span>Team</span></h3>
		<div class="team_gds">
			<div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
				<div class="team_pos">
					<div class="team_back"></div>
					<img class="img-responsive" src="https://p.w3layouts.com/demos_new/01-02-2017/educational-demo_Free/37976604/web/images/t1.jpg"  alt=" ">
					<div class="team_info">
						<a href="#"  class="face_one"><i class=" so1 fa fa-facebook fc1" aria-hidden="true"></i></a>
						<a href="#"  class="face_one"><i class=" so2 fa fa-twitter fc2" aria-hidden="true"></i></a>
						<a href="#"  class="face_one"><i class=" so3 fa fa-google fc3" aria-hidden="true"></i></a>
					</div>
				</div>
				<h4>Victoria</h4>
				<p>English</p>
			</div>
		
			<div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
				<div class="team_pos">
					<div class="team_back"></div>
					<img class="img-responsive" src="https://p.w3layouts.com/demos_new/01-02-2017/educational-demo_Free/37976604/web/images/t2.jpg"  alt=" ">
					<div class="team_info">
						<a href="#"  class="face_one"><i class=" so1 fa fa-facebook fc1" aria-hidden="true"></i></a>
						<a href="#"  class="face_one"><i class=" so2 fa fa-twitter fc2" aria-hidden="true"></i></a>
						<a href="#"  class="face_one"><i class=" so3 fa fa-google fc3" aria-hidden="true"></i></a>
					</div>
				</div>
				<h4>Patrick</h4>
				<p>Computer</p>
			</div>
			<div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
				<div class="team_pos">
					<div class="team_back"></div>
					<img class="img-responsive" src="https://p.w3layouts.com/demos_new/01-02-2017/educational-demo_Free/37976604/web/images/t3.jpg"  alt=" ">
					<div class="team_info">
						<a href="#"  class="face_one"><i class=" so1 fa fa-facebook fc1" aria-hidden="true"></i></a>
						<a href="#"  class="face_one"><i class=" so2 fa fa-twitter fc2" aria-hidden="true"></i></a>
						<a href="#"  class="face_one"><i class=" so3 fa fa-google fc3" aria-hidden="true"></i></a>
					</div>
				</div>
				<h4>Thompson</h4>
				<p>Botany</p>
			</div>
			<div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
				<div class="team_pos">
					<div class="team_back"></div>
					<img class="img-responsive" src="https://p.w3layouts.com/demos_new/01-02-2017/educational-demo_Free/37976604/web/images/t4.jpg"  alt=" ">
					<div class="team_info">
						<a href="#"  class="face_one"><i class=" so1 fa fa-facebook fc1" aria-hidden="true"></i></a>
						<a href="#"  class="face_one"><i class=" so2 fa fa-twitter fc2" aria-hidden="true"></i></a>
						<a href="#"  class="face_one"><i class=" so3 fa fa-google fc3" aria-hidden="true"></i></a>
					</div>
				</div>
				<h4>Federica</h4>
				<p>Zoology</p>
			</div>
			<div class="clearfix"></div>		
		</div>
	</div>
</div>
<!-- //team -->

<!-- Events -->
<div class="event" id="events">
	<div class="container">
		<h3>Events</h3>
		<div class="col-md-4 eve-agile e1">
			<div class="eve-sub1">
				<a href="#" data-toggle="modal" data-target="#myModal5"><img src="https://p.w3layouts.com/demos_new/01-02-2017/educational-demo_Free/37976604/web/images/e2.jpg" alt="image"></a>
			<h4><a href="#" data-toggle="modal" data-target="#myModal5">Educational</a></h4>
				<h6>By an <a href="#">admin</a>, Oct-2016</h6>
				<p>Graduation is only a concept.
In real life every day you graduate.
Graduation is a process that goes on until the last day of your life.
If you can grasp that, you’ll make a difference.</p>
			</div>
			<div class="eve-sub2">
				<div class="eve-w3lleft">
					<h6><i class="fa fa-comment-o" aria-hidden="true"></i>17</h6>
					<h6><i class="fa fa-heart-o" aria-hidden="true"></i>78</h6>
				</div>	
				<div class="eve-w3lright e1">
					<a href="#" data-toggle="modal" data-target="#myModal5"><h5>More</h5></a>
				</div>
				<div class="clearfix"></div>	
			</div>
		</div>
		<div class="col-md-4 eve-agile e2">
			<div class="eve-sub1">
				<a href="#" data-toggle="modal" data-target="#myModal6"><img src="https://p.w3layouts.com/demos_new/01-02-2017/educational-demo_Free/37976604/web/images/e1.jpg" alt="image"></a>
				<h4><a href="#" data-toggle="modal" data-target="#myModal6">Educational</a></h4>
				<h6>By an <a href="#">admin</a>, Oct-2016</h6>
				<p>“A library is like an island in the middle of a vast sea of ignorance, particularly if the library is very tall and the surrounding area has been flooded.” </p>
			</div>
			<div class="eve-sub2">
				<div class="eve-w3lleft">
					<h6><i class="fa fa-comment-o" aria-hidden="true"></i>64</h6>
					<h6><i class="fa fa-heart-o" aria-hidden="true"></i>86</h6>
				</div>	
				<div class="eve-w3lright">
					<a href="#" data-toggle="modal" data-target="#myModal6"><h5>More</h5></a>
				</div>
				<div class="clearfix"></div>	
			</div>
		</div>
		<div class="col-md-4 eve-agile e3">
			<div class="eve-sub1">
				<a href="#" data-toggle="modal" data-target="#myModal7"><img src="https://p.w3layouts.com/demos_new/01-02-2017/educational-demo_Free/37976604/web/images/e3.jpg" alt="image"></a>
				<h4><a href="#" data-toggle="modal" data-target="#myModal7">Educational</a></h4>
				<h6>By an <a href="#">admin</a>, Oct-2016</h6>
				<p>In the seminar, there's just additional support and time to practice reading skills for students who have been identified as having trouble with that. </p>
			</div>
			<div class="eve-sub2">
				<div class="eve-w3lleft">
					<h6><i class="fa fa-comment-o" aria-hidden="true"></i>47</h6>
					<h6><i class="fa fa-heart-o" aria-hidden="true"></i>58</h6>
				</div>	
				<div class="eve-w3lright">
					<a href="#" data-toggle="modal" data-target="#myModal7"><h5>More</h5></a>
				</div>
				<div class="clearfix"></div>	
			</div>
		</div>
	</div>
</div>

						<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" >
							<div class="modal-dialog">
							<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4>Educational</h4>
											<img src="https://p.w3layouts.com/demos_new/01-02-2017/educational-demo_Free/37976604/web/images/e2.jpg"alt="blog-image"  />
											</div>
								</div>
						
							</div>
				       </div>
					   <!-- //Modal1 -->
						<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" >
							<div class="modal-dialog">
							<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4>Educational</h4>
											<img src="https://p.w3layouts.com/demos_new/01-02-2017/educational-demo_Free/37976604/web/images/e2.jpg" alt="blog-image" />
											</div>
								</div>
						
							</div>
				       </div>

					   <!-- //Modal1 -->
						<div class="modal fade" id="myModal7" tabindex="-1" role="dialog" >
							<div class="modal-dialog">
							<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4>Educational</h4>
											<img src="https://p.w3layouts.com/demos_new/01-02-2017/educational-demo_Free/37976604/web/images/e3.jpg" alt="blog-image" />
											</div>
								</div>
						
							</div>
				       </div>
					   <!-- //Modal1 -->

<!-- //Events -->







</body>
</html>