{{error.message}}
<h2 style="color:white">Login Form</h2>

<form>
  <div class="imgcontainer">
    <img src="resources/images/image.jpg" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Username" data-ng-model="user.email" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" data-ng-model="user.password" required>
        
   <div class="form-group" align="center"><input type="submit"style="color:black" value="login" data-ng-click="login(user)"><br></div><br>
    
</form>
